@model IEnumerable<MyECommerece.Models.Product>

<h1>Products</h1>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <a asp-action="Details" asp-route-id="@product.Id">
                    <img src="@product.PhotoPath" class="card-img-top" alt="@product.Name" style="height: 200px; object-fit: contain;">
                </a>
                

                <div class="card-body text-center">
                    <h5 class="card-title">
                        <a asp-action="Details" asp-route-id="@product.Id">@product.Name</a>
                     </h5>
                    <p class="card-text">Price: $@product.Price</p>
                </div>
                @if (User.IsInRole("Seller"))
                {
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-warning">Delete</a>
                    </div>
                }
                

            </div>
        </div>
    }
</div>
